*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
#get{
    background-color: rgb(228, 26, 26);
    font-size: large;
    position: fixed;
    padding: 15px 30px ;
    top:50%;
    left: 0%;
    border-radius: 10px;
    }
#join{
    font-size: large;
    background-color: rgb(238, 23, 23);
    position: fixed;
    top: 50%;
    right: 0%;
    padding: 15px 30px;
    border-radius: 15px;
}
#headline{
    
    padding: 5px;
    background:linear-gradient(to right,red,rgb(238, 176, 149)) ;
    height: 35px;

}
h3{
    display: inline-block;
    padding: 5px;
}
nav{

    display: flex;
    justify-content:space-between ;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: rgb(246, 215, 195);


   

}
li{
    display:inline-block;
}
a{
    font-size: 25px;
    font-family:sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding:20px 35px ;
    transition: .7s;
  
    display:flex;}
    a:hover{
        background-color:rgba(232, 19, 19, 0.878);
    }
    p{

    background:linear-gradient(to right, #cf48a4 , #418ed6);
    font-size: large;
 
    }
